<%= form_for(Ipasset.new, :url => {:controller => 'ipassets', :action => 'create'}) do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
 
  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>
  
  <p>
    <%= f.label :attachment %><br>
    <%= f.file_field :attachment %>
  </p>

  <p>
    <%= f.label :filename %><br> 
    <%= f.text_field :filename %>
  </p>

   <!-- <p><strong>stakes:</strong></p>

    <%= f.fields_for :stakeholders do |stakeholder| %>
      <div>
        <%= stakeholder.label :Stakeholder %>
        <%= stakeholder.text_field :stakeholderid %>

        <%= stakeholder.label :Stakes %>
        <%= stakeholder.text_field :stakespercent %>
      </div>
    <% end %> -->

  <p><strong>StakeHolders:</strong></p>
    <div id="stakeholders">
      <%= f.fields_for :stakeholders do |stake| %>
        <%= render 'stakeholder_fields', :f => stake %>
      <% end %>
      <div class="links">
        <%= link_to_add_association 'Add stake', f, :stakeholders %>
      </div>
    </div>
  <p>
    <%= f.submit %>
  </p>
<% end %>